########################
# Node / TypeScript
########################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

build/
out/
.next/
.turbo/

########################
# Environment / Secrets
########################
.env
.env*.local
.env.development*
.env.production*
.env.test*
.env.example

########################
# Logs & Coverage
########################
logs/
*.log
*.log.*
coverage/
lcov-report/

########################
# IDE / Editor
########################
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

########################
# Misc
########################
.cache/
.temp/
tmp/
docker-data/
certbot/

########################
# Data files
########################
server/bookmarks.json
